---
# web-deploy.yml - Deploy/update nginx web content on Linux web servers
- name: Deploy Web Content
  hosts: linux
  become: true
  vars:
    web_root: /var/www/html
    app_name: labapp
  tasks:
    - name: Ensure nginx is installed
      apt:
        name: nginx
        state: present

    - name: Ensure nginx is running
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy index page
      copy:
        dest: "{{ web_root }}/index.html"
        content: |
          <!DOCTYPE html>
          <html>
          <head><title>{{ app_name }} - {{ inventory_hostname }}</title></head>
          <body>
            <h1>{{ app_name }}</h1>
            <p>Deployed by Ansible on {{ ansible_date_time.iso8601 }}</p>
            <p>Host: {{ inventory_hostname }} ({{ ansible_default_ipv4.address }})</p>
          </body>
          </html>
        owner: www-data
        group: www-data
        mode: '0644'
      notify: reload nginx

  handlers:
    - name: reload nginx
      service:
        name: nginx
        state: reloaded
